*{padding: 0; margin: 0;}

html, body, #wrapper{height: 100%;}

body{font-size: 14px;}

#wrapper{display: table;}

.container{
    width: 95%;
    margin: 0 auto;
}

.clear{clear: both;}

/*==========================================================*/
/*========================HEADER=============================*/

.header-bg{
    height:50px;
    background: #80D654;
    background: linear-gradient(#80D654, #537144);
    background: -webkit-linear-gradient(#80D654, #537144);
    background: -moz-linear-gradient(#80D654, #537144);
    background: -o-linear-gradient(#80D654, #537144);
    background: gradient(linear, #80D654, #537144);
}

#header-nav{
    background: #1E211E;
    background: linear-gradient(#4C4C4C, #1E211E);
    background: -webkit-linear-gradient(#4C4C4C, #1E211E);
    background: -moz-linear-gradient(#4C4C4C, #1E211E);
    background: -o-linear-gradient(#4C4C4C, #1E211E);
    background: gradient(linear, #4C4C4C, #1E211E);
    position: relative;
}

#toggleMenu{
    display: none;
    line-height: 40px;
    padding: 0 15px;
    text-decoration: none;
    color:#fff;
    letter-spacing: 0.1em;
}

.toggleMenuItem{
    height: 40px;
    background: url(../images/menu.png) no-repeat left center;;
    width: 100px;
}

#nav, #nav ul{
    list-style: none;
}

#nav a{
    text-decoration: none;
    color:#fff;
    letter-spacing: 0.1em;
    padding: 0 15px;
    display: block;
    line-height: 40px;
    background: url(../images/rightArrow.png) no-repeat left center;
}

#nav ul{
    background: rgba(0,0,0,.7);
}

#nav:after{
    content: "";
    display: block;
    clear: both;
}

#nav li{
    position: relative;
}

#nav > li{
    float: left;
}

#nav > li ul{
    position: absolute;
    min-width: 250px;
    display: none;
}

#nav ul li ul{
    left: 100%;
    top:0;
}

#nav .hover.parent > a{
    background: url(../images/downArrow.png) no-repeat left center;
}

#nav .hover > ul{
    display: block;
}

/* =============================CONTENT ================================*/

.box{
    border:1px solid #537144;
    margin-top: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -khtml-border-radius:10px;
    -o-border-radius:10px;
    -ms-border-radius:10px;
    border-radius:10px;

    font-size: 1.14em;
}

.box-title{
    background: #80D654;
    background: linear-gradient(#80D654, #537144);
    background: -webkit-linear-gradient(#80D654, #537144);
    background: -moz-linear-gradient(#80D654, #537144);
    background: -o-linear-gradient(#80D654, #537144);
    background: gradient(linear, #80D654, #537144);

    -webkit-border-radius:10px 10px 0 0;
    -moz-border-radius:10px 10px 0 0;
    -khtml-border-radius:10px 10px 0 0;
    -o-border-radius:10px 10px 0 0;
    -ms-border-radius:10px 10px 0 0;
    border-radius:10px 10px 0 0;

    padding: 10px;
    color:#1E211E;
}

.box-title .title{
    float: left;
    font-size: 1.25em;
}

.box-content{
    padding: 10px;
}

.box-content:after{
    content: " ";
    clear:both;
    display: block;
}

.box-buttons{
    float: right;
}

.box-title:after{
    content: " ";
    clear: both;
    display: block;
}

.box-table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
}

.box-table tbody tr:nth-child(even){
    background-color: #ddd;
}

.box-table tbody tr:hover{
    background-color: #BADEA8;
}

.box-table th{
    background: #1E211E;
    background: linear-gradient(#4C4C4C, #1E211E);
    background: -webkit-linear-gradient(#4C4C4C, #1E211E);
    background: -moz-linear-gradient(#4C4C4C, #1E211E);
    background: -o-linear-gradient(#4C4C4C, #1E211E);
    background: gradient(linear, #4C4C4C, #1E211E);

    color: #fff;

    border-top: none;
    border-left: 1px solid #4C4C4C;
    border-right: 1px solid #4C4C4C;
}

.box-table td, .box-table th{
    padding: 5px;
    border: 1px solid #999;
}

.box-table .left{
    text-align: left;
}

.box-table .center{
    text-align: center;
}

.box-table .right{
    text-align: right;
}

.box-table .checkbox{
    width: 10px;
    text-align: center;
}

.button{
    background: #1E211E;
    background: linear-gradient(#4C4C4C, #1E211E);
    background: -webkit-linear-gradient(#4C4C4C, #1E211E);
    background: -moz-linear-gradient(#4C4C4C, #1E211E);
    background: -o-linear-gradient(#4C4C4C, #1E211E);
    background: gradient(linear, #4C4C4C, #1E211E);

    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -khtml-border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
    border-radius:5px;

    padding: 5px 15px;
    text-decoration: none;
    color:#fff;
    font-size: 0.875em;
}

@media screen and (max-width: 1024px){
    #nav ul li ul{
        left: 0;
        top:100%;
    }
}

@media screen and (max-width: 800px){
    #header-nav .container{
        width: 100%;
    }

    #toggleMenu{
        display: block;
    }

    #nav{
        position: absolute;
        background: rgba(0,0,0,.7);
        width: 100%;
        top: 40px;
    }

    #nav ul{
        background: none;
    }

    #nav > li{
        float: none;
    }

    #nav > li ul{
        position: static;
    }

    #nav li li a{
        border-top: 1px solid #666;
    }

    #nav > li + li a{
        border-top: 1px solid #666;
    }
}

/*==========================================================*/
/*========================CONTENT=============================*/

#content{
    display: table-row; 
    height: 100%;
}

.pagination{
    float: right;
    margin-top: 10px;
}

.pagination a{
    border: 1px solid #1E211E;
    text-decoration: none;
    background: #4C4C4C;
    color:#fff;
    padding: 2px 5px;
}

.pagination .cur-page{
    color: #4C4C4C;
    border: 1px solid #1E211E;
    padding: 2px 5px;
}

/*==========================================================*/
/*========================FOOTER=============================*/

footer{
    background: #ccc;
    height: 5%;
}