*{padding: 0; margin: 0;}

html, body, #wrapper{height: 100%;}

body{font-size: 14px;}

#wrapper{display: table;}

.container{
    width: 90%;
    margin: 0 auto;
}

.clear{clear: both;}

/*==========================================================*/
/*========================HEADER=============================*/

.header-bg{
    height:50px;
    background: #80D654;
    background: linear-gradient(#80D654, #537144);
    background: -webkit-linear-gradient(#80D654, #537144);
    background: -moz-linear-gradient(#80D654, #537144);
    background: -o-linear-gradient(#80D654, #537144);
    background: gradient(linear, #80D654, #537144);
}

#header-nav{
    background: #1E211E;
    background: linear-gradient(#4C4C4C, #1E211E);
    background: -webkit-linear-gradient(#4C4C4C, #1E211E);
    background: -moz-linear-gradient(#4C4C4C, #1E211E);
    background: -o-linear-gradient(#4C4C4C, #1E211E);
    background: gradient(linear, #4C4C4C, #1E211E);
}

#header-nav li{
    margin: 10px 5px 10px 0;
    padding: 0;
    list-style: none;
    display:inline;
    display: inline-block;
}

#header-nav a{
    color: #fff;
    text-decoration: none;
    line-height: 100%;
    letter-spacing: 0.1em
}

@media screen and (max-width: 600px){
    #header-nav{
        position: relative;
        min-height: 40px;
    }

    #header-nav ul{
        width: 100%;
        padding: 5px 0;
        position: absolute;
        top: 0;
        left: 0;
        background: #1E211E;
        background: linear-gradient(#4C4C4C, #1E211E);
        background: -webkit-linear-gradient(#4C4C4C, #1E211E);
        background: -moz-linear-gradient(#4C4C4C, #1E211E);
        background: -o-linear-gradient(#4C4C4C, #1E211E);
        background: gradient(linear, #4C4C4C, #1E211E);
    }

    #header-nav ul li{
        display: none; /* скрыть все <li> пункты */
        margin: 0;
        height: 100%;
    }

    #header-nav .parent-active{
        display: block;
    }

    #header-nav a {
        display: block;
        padding: 5px 5px 5px 32px;
        text-align: left;
    }

    #header-nav ul:hover li {
        display: block;
        margin: 0 0 5px;
    }
}

/*==========================================================*/
/*========================CONTENT=============================*/

#content{
    display: table-row; 
    height: 100%;
}

/*==========================================================*/
/*========================FOOTER=============================*/

footer{
    background: #ccc;
    height: 5%;
}